<div style="max-width: 850px; margin: 11px auto; border: 3px solid #bababa; border-radius: 20px; background-color: #bababa;">
	<div style="border-radius: 18px; background-color: #fff;">
		<div style="display: inline-block; width: 45%; padding: 30px 5%; font-size: 13px; color: #555;">
			<h5 style="border-left: 4px solid #00d8d6; padding-left: 11px; font-size: 16px; font-weight: normal; color: #333;">E-mail 인증절차</h5>
			<p>${mail_name} 님, 반갑습니다.</p>
			<p>회원님께서는 [${mail_date}]에<br /> 정상적으로<span style="color:#ff7682;font-weight:bold;"></span> RetrunP에 회원가입이 되었습니다.</p>	
				
			<p>이메일 인증 버튼을 누르시고 서비스를 사용하시면 됩니다.</p>
		</div>
		<div style="display: inline-block; vertical-align: top; width: 17%; border-left: 1px solid #ddd; padding: 0 13%; margin: 54px auto 54px auto; text-align: center;">
			<span style="height: 100px; padding: 65px 0 0 0; background-color: #00d8d6; font-size: 35px; color: #fff; text-align: right; vertical-align: top;">Return</span>
			<span style="width: 30px; height: 100px; padding: 77px 0 0 0; font-size: 35px; color: #00d8d6; vertical-align: top;">P</span>
			${mail_sign}<button type="button" style="width: 150px; height: 80px; margin: 53px 0 14px; border: 2px solid #00d8d6; background: none; color: #00d8d6; font-weight: bold;"> 이메일 인증</button></a>
		</div>
	</div>
	<div style="padding: 25px; text-align: center; color: #fff; font-size: 12px; line-height: 22px;">
		Copyright © returnp All rights reserved. <br> 서울시 강남구 서비스센터 <span style="padding: 0 20px;">|</span> 
		tel : 02-888-8888 <span style="padding: 0 20px;">|</span> 
		FAX : 02-888-8888
	</div>
</div>
